/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Oswald', sans-serif;
}
.navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  background: rgba(128, 128, 128, 0.1);
}
.navBar .links {
  font-size: 1.2rem;
  color: gray;
  text-decoration: none;
  margin: 3% auto;
}
.mainContent {
  display: flex;
  flex-flow: row wrap;
}
.mainContent .pageLeft {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainContent .pageLeft .headerLeft h1 {
  font-size: 3.6rem;
  margin: 0% auto 3% auto;
}
.mainContent .pageLeft .headerLeft h3 {
  font-size: 2.4rem;
  color: white;
  margin: 0% auto 3% 20%;
}
.mainContent .pageRight {
  width: 50%;
}
.mainContent .pageRight .headerRight .headerImg {
  width: 100%;
  opacity: 0.9;
}
.mainContent .pageRight .headerRight .headerImg:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v10/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
.container {
  font-size: 62.5%;
  background: linear-gradient(to right, #43d9b8 50%, white 50%);
  max-width: 1400px;
}
