/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Oswald', sans-serif;
}
p {
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}
@media (max-width: 500px) {
  p {
    margin: 5% auto 5% 1%;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.rounded-borders {
  border-radius: 5%;
}
.navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  background: rgba(128, 128, 128, 0.1);
}
.navBar .links {
  font-size: 1.2rem;
  color: gray;
  text-decoration: none;
  margin: 3% auto;
}
@media (max-width: 800px) {
  .navBar .links {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .navBar .links {
    font-size: 0.8rem;
  }
}
.navBar .links:hover {
  text-decoration: underline;
  color: black;
}
.banner {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2rem groove black;
}
.banner .headerText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
@media (max-width: 500px) {
  .banner .headerText {
    flex-direction: row;
    width: 100%;
  }
}
.banner .headerText h1 {
  font-size: 4.8rem;
}
@media (max-width: 800px) {
  .banner .headerText h1 {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  .banner .headerText h1 {
    color: white;
    margin-left: 5%;
  }
}
.banner .headerText h3 {
  font-size: 3.4rem;
  color: white;
}
@media (max-width: 800px) {
  .banner .headerText h3 {
    font-size: 2.6rem;
  }
}
@media (max-width: 500px) {
  .banner .headerText h3 {
    color: black;
  }
}
.banner .headerRight {
  width: 50%;
}
.banner .headerRight .headerImg {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 2%;
}
@media (max-width: 800px) {
  .banner .headerRight .headerImg {
    margin-top: 15%;
  }
}
@media (max-width: 500px) {
  .banner .headerRight .headerImg {
    width: 180%;
    margin-top: 0;
    margin-left: 10%;
  }
}
.galleryDiv {
  width: 70%;
  height: 500px;
  opacity: 0.8;
  background: black;
  border-radius: 5%;
  position: fixed;
  margin: 6% auto 5% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galleryDiv .galleryButtons {
  width: 50px;
  height: 50px;
  background: gray;
  font-weight: bolder;
  margin: 3%;
  font-size: 2.4rem;
  opacity: 0.9;
  cursor: pointer;
  border-radius: 5%;
  border: 5px outset whitesmoke;
}
.container {
  display: block;
}
.container .main {
  display: flex;
  flex-flow: row wrap;
  margin: 5% 0 5% 0;
  border-bottom: 2rem groove black;
}
@media (max-width: 500px) {
  .container .main {
    flex-flow: row wrap;
    align-items: center;
  }
}
.container .main .mainLeft {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .mainLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
  }
}
.container .main .mainLeft .mainPartyImg {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 5%;
}
@media (max-width: 800px) {
  .container .main .mainLeft .mainPartyImg {
    height: 70%;
  }
}
@media (max-width: 500px) {
  .container .main .mainLeft .mainPartyImg {
    width: 90%;
    margin: auto;
  }
}
.container .main .mainRight {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .mainRight {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
  }
}
.container .main .mainRight p {
  padding: 10%;
}
@media (max-width: 500px) {
  .container .main .mainRight p {
    padding: 0;
  }
}
.container .main .lowerLeft {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .lowerLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 4;
  }
}
.container .main .lowerLeft p {
  padding: 10%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .container .main .lowerLeft p {
    padding: 0;
    margin: 5% auto 5% 1%;
  }
}
.container .main .lowerRight {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .lowerRight {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 3;
  }
}
.container .main .lowerRight .confettiImg {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 5%;
}
@media (max-width: 800px) {
  .container .main .lowerRight .confettiImg {
    height: 60%;
    margin-top: 15%;
  }
}
@media (max-width: 500px) {
  .container .main .lowerRight .confettiImg {
    width: 90%;
    margin: auto;
  }
}
.container .main .bottomLeft {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .bottomLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 5;
  }
}
.container .main .bottomLeft .fireworks {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 5%;
}
@media (max-width: 800px) {
  .container .main .bottomLeft .fireworks {
    height: 70%;
    margin-top: 11%;
  }
}
@media (max-width: 500px) {
  .container .main .bottomLeft .fireworks {
    width: 90%;
    margin: auto;
  }
}
.container .main .bottomRight {
  width: 50%;
}
@media (max-width: 500px) {
  .container .main .bottomRight {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 6;
  }
}
.container .main .bottomRight p {
  padding: 10%;
}
@media (max-width: 500px) {
  .container .main .bottomRight p {
    padding: 0;
  }
}
.bottomContent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 800px) {
  .bottomContent {
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .bottomContent {
    max-width: 500px;
  }
}
.bottomContent .contactText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomContent .contactText h3 {
  font-size: 3rem;
  margin-bottom: 5%;
}
.bottomContent .contactText ul {
  margin-left: 3%;
}
@media (max-width: 800px) {
  .bottomContent .contactText ul {
    line-height: 1.5rem;
  }
  .bottomContent .contactText ul :nth-child(6) {
    line-height: 0.5rem;
  }
  .bottomContent .contactText ul :nth-child(7) {
    line-height: 0.5rem;
  }
}
.bottomContent .contactText ul .contactHeader {
  font-size: 1.6rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .bottomContent .contactText ul .contactHeader {
    font-size: 1rem;
  }
}
.bottomContent .contactText ul .contactInfo {
  font-size: 1.2rem;
  margin: 10% auto;
}
@media (max-width: 800px) {
  .bottomContent .contactText ul .contactInfo {
    font-size: 0.9rem;
  }
}
.bottomContent .contactForm {
  width: 50%;
  padding: 5%;
}
.bottomContent .contactForm .name {
  min-width: 40%;
  min-height: 40px;
  margin: 2%;
  border-radius: 5%;
}
@media (max-width: 800px) {
  .bottomContent .contactForm .name {
    margin-left: 15%;
  }
}
@media (max-width: 500px) {
  .bottomContent .contactForm .name {
    margin-left: 7%;
  }
}
.bottomContent .contactForm .email {
  min-width: 40%;
  min-height: 40px;
  margin: 2%;
  border-radius: 5%;
}
@media (max-width: 800px) {
  .bottomContent .contactForm .email {
    margin-left: 15%;
  }
}
@media (max-width: 500px) {
  .bottomContent .contactForm .email {
    margin-left: 7%;
  }
}
.bottomContent .contactForm .message {
  min-width: 80%;
  margin-left: 4%;
  border-radius: 5%;
  height: 300px;
}
@media (max-width: 800px) {
  .bottomContent .contactForm .message {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .bottomContent .contactForm .message {
    margin-left: 0;
  }
}
.bottomContent .contactForm button {
  width: 25%;
  height: 40px;
  border-radius: 25%;
  background: #43d9b8;
  border: 5px outset white;
  margin: 5% auto auto 32%;
}
@media (max-width: 800px) {
  .bottomContent .contactForm button {
    margin-left: 30%;
  }
}
@media (max-width: 500px) {
  .bottomContent .contactForm button {
    margin-left: 33%;
    width: 40%;
  }
}
.bottomContent .copyright {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.bottomContent .copyright p {
  font-size: 1.2rem;
  color: gray;
}
@media (max-width: 800px) {
  .bottomContent .copyright p {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .bottomContent .copyright p {
    font-size: 0.7rem;
    margin-left: 55%;
  }
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
.container {
  font-size: 62.5%;
  background: linear-gradient(to right, #43d9b8 50%, white 50%);
  max-width: 1400px;
}
@media (max-width: 800px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
