@import 'reset.less';
@import 'global.less';
@import 'variables.less';
@import 'navigation.less';
@import 'header.less';
@import 'mainContent.less';
@import 'footer.less';
@import url('https://fonts.googleapis.com/css?family=Oswald');

.container {
    font-size: 62.5%;
    background: @bg-gradient;
    max-width: 1400px;
    @media @tablet {
        max-width: 800px;
    }
    @media @mobile {
        max-width: 500px;
    }
}
