.main {
    display: flex;
    flex-flow: row wrap;
    margin: 5%;

    .mainLeft {
        width: 50%;
        

        .mainPartyImg {
            width: 80%;
            height: 80%;
            margin: 10%;
            border-radius: 5%;
            opacity: 0.9;
            &:hover {
                opacity: 1.0;
            }
        }
    }

    .mainRight {
        width: 50%;

        p {
            font-size: 1.8rem;
            padding: 10%;
        }
    }

    .lowerLeft {
        width: 50%;

        p {
            font-size: 1.8rem;
            padding: 10%;
        }

    }

    .lowerRight {
        width: 50%;

        .confettiImg {
            width: 80%;
            height: 80%;
            margin: 10%;
            border-radius: 5%;
            opacity: 0.9;
            &:hover {
                opacity: 1.0;
            }
        }

    }


}
